@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-lg-soft {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}

.calc-height {
  height: calc(100vh - 100px);
}

.calc-width {
  width: calc(100vw - 20vw);
}
